.chat-main
  .chat-main--top
    .chat-main--top__left-box
      .chat-main--top__left-box__group-name
        野菜
        .chat-main--top__left-box__group-name__list
          .chat-main--top__left-box__group-name__list__list-member
            Member:
          .chat-main--top__left-box__group-name__list__list-user
            user
    .chat-main--top__edit-btn
      Edit
  .chat-main__message
    .chat-main__message__list
      .chat-main__message__list__info
        .chat-main__message__list__info__talker
          aaa
        .chat-main__message__list__info__date
          2019/04/03
      .chat-main__message__list__text
        あああ
  .chat-main__message-form
    .input-box
      .input-box__text
      %label{class: "input-box__image"}
        = icon('far', 'image')
        %input.input-box__image__file{type: "file"}
    .submit-btn
      Send