.chat-main__message__list{data: {message: {id: message.id}}}
  .chat-main__message__list__info
    .chat-main__message__list__info__talker
      = message.user.name
    .chat-main__message__list__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message__list__text
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?